/* Estilo global */
* {
    font-family: 'Montserrat', sans-serif; 
  }
  
  body {
    background-image:url(img/fon3.jpg);
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;

    
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  header {
    display: flex;
    justify-content:space-between; 
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 1rem 1rem;
    color: #fff;
  }

  nav {
    display: flex;
    align-items: center;
    
  }
  
  nav h1 {
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul a{
    color: antiquewhite;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  main { 
    padding: 20px;
    margin: 11rem .3rem;
  }
  main section h2,p{
    color: #fff;
    font-weight: 530;
    }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin-left: 20px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem .5rem;
    
  }
  footer ul li{
    color: #fff
  }

/*Servicios*/
#servicios ul li{
  color: #fff;
}
/*------*/
   /*Media queries*/ 
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
  
    nav h1 {
      margin-bottom: 20px;
    }
  
    nav ul {
      margin-top: 20px;
      margin-left: 0;
    }
  
    nav li {
      margin: 0 10px;
    }
    
    } 
  